<h1>Eat-Da-Burger</h1>
<div id="burgerpic">
    <img src="/assets/img/burgerAni.png" alt="">
</div>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{/unless}}
    {{/each}}
</ul>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{/if}}
    {{/each}}
</ul>