body {
    background-color: coral;
}

h1 {
    text-align: center;
}

#burgerpic {
    text-align: center;
    align-items: center;
}

.container {
    background-color: coral;
}

/* #submit_btn {
    width: 20%;
    border: black;
    padding: 14px 28px;
    font-size: 16px;
    text-align: center;
} */

#burgerName {
    width: 300px;
}

.newburger {
    text-align: center;
}